* {
  margin: 0;
  padding: 0;

}


.navbar {
  padding: 15px;
  background-color: rgb(77, 5, 5);
  color: white;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5vh;

}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  padding: 15px;
  background-color: rgb(77, 5, 5);
  color: white;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5vh;
}

.logo {
  display: flex;
  gap: 15px;
}



.logo img {
  width: 50px;
  height: 50px;
}

.bottom-navbar-type {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bottom-navbar-type button {
  font-size: 3vmin;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
}


#current-type {
  width: 300px;
  text-align: center;
  font-size: 2vmin;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  position:relative; /* 为下拉菜单定位 */
  box-sizing: border-box;
}

#dropdown-menu {
  width: 300px;
  display: none; /* 初始隐藏 */
  position: absolute;
  bottom: 100%; /* 紧挨着显示区 */
  left: 0;
  background-color: white;
  color: black;
  list-style: none;
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#dropdown-menu li {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid black;
}

#dropdown-menu li.no1 {
  border-top: 1px solid black;
}

#dropdown-menu li:hover {
  background-color: #f0f0f0;
}

#map-btn {
  padding: 10px 20px;
  width: 80px;
  height: 50px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#map-btn:hover {
  background-color: #0056b3;
}

#map-btn img {
  width: 75px;
  height: 40px;
}


.menu-container {
  width: 100vw;
  height: calc(90vh - 6vh);
  position: fixed;
  top:calc(5vh + 30px);
  display: flex;
  justify-content: center;
  overflow-x: hidden;/* 不允许横向滚动 */
  overflow-y: scroll; /* 允许垂直滚动 */
  scrollbar-width: none; /* 针对Firefox浏览器隐藏滚动条 */
  -ms-overflow-style: none; /* 针对IE和Edge隐藏滚动条 */
}

.menu-container div {
  position: relative;
  top: 3vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.menu-container div h2 {
  font-size: 5vmin;
  color: rgb(216, 184, 0);
  margin-bottom: 2vh;
  padding-bottom: 1vh;
  border-bottom: 1.5px solid rgb(216, 184, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-tip {
  text-align: center;
  font-size: 2vmin;
  color: black;
/*   text-shadow: 0.5px 0.5px 0 #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000; */
  margin-bottom: 5vh;
}

.menu-item {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 5vh;
  padding-left: 25vw;
}

.menu-item p {
  line-height: 2.5;
  font-size: 3.5vmin;
}

.menu-item img {
  width: 600px;
  height: 500px;
  margin-right: 20vw;
}

.menu-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item2 img {
  width: 35%;
  height: 400px;
}

.menu-item2-table {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  top: -2vh !important;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 2.3vmin;
  text-align: left;
}

th, td {
  border-bottom: 1px solid #919191;
  padding-top: 3vh;

}

th {
  background-color: #ffffff;
}

.menu-Snacks {
  display: block;
}

.menu-Soups {
  display: none;
}

.menu-Ramen {
  display: none;
}

.menu-Vegetables {
  display: none;
}

.menu-Rice_bowl {
  display: none;
}

.menu-Noodles_wok_Box {
  display: none;
}

.menu-Rice_wok_Box {
  display: none;
}

.menu-Ricenoodles_wok_Box {
  display: none;
}

.menu-Mix_dry_noodles {
  display: none;
}

.menu-Drinks {
  display: none;
}

.menu-Desserts {
  display: none;
}

.menu-Salads {
  display: none;
}







@media screen and (max-width: 1024px) {

  .navbar {
    height: 3.5vh;
  }

  .bottom-navbar {
    height: 3vh;
  }

  #current-type {
    width: 110px;
  }
  
  #dropdown-menu {
    width: 110px;
  }
  .bottom-navbar-type {
    gap: 8px;
  }

  .menu-container {
    height: calc(93.5vh - 6vh);
    top:calc(3.5vh + 30px);
  }

  .menu-container div h2 {
    font-size: 8vmin;
  }

  .menu-item {
    padding-left: 10vw;
  }

  .menu-item img {
    width: 180px;
    height: 150px;
    margin-right: 5vw;
  }

  .menu-item p {
    line-height: 1.5;
    font-size: 3.5vmin;
  }

  .menu-tip {
    font-size: 3.7vmin;
  }

  .menu-item2 img {
    width: 80%;
    height: 250px;
  }

  table {
    width: 95%;
    font-size: 2.1vmin;
  }

  #map-btn {
    width: 60px;
    height: 30px;
  }

  #map-btn img {
    width: 55px;
    height: 25px;
  }

}