* {
  margin: 0;
  padding: 0;

}


.navbar {
  padding: 15px;
  background-color: rgb(77, 5, 5);
  color: white;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5vh;

}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  padding: 15px;
  background-color: rgb(77, 5, 5);
  color: white;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5vh;
}

.logo {
  display: flex;
  gap: 15px;
}



.logo img {
  width: 50px;
  height: 50px;
}

.bottom-navbar-type {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bottom-navbar-type button {
  font-size: 3vmin;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
}


#current-type {
  width: 300px;
  text-align: center;
  font-size: 2vmin;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  position:relative; /* 为下拉菜单定位 */
  box-sizing: border-box;
}

#dropdown-menu {
  width: 300px;
  display: none; /* 初始隐藏 */
  position: absolute;
  bottom: 100%; /* 紧挨着显示区 */
  left: 0;
  background-color: white;
  color: black;
  list-style: none;
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#dropdown-menu li {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid black;
}

#dropdown-menu li.no1 {
  border-top: 1px solid black;
}

#dropdown-menu li:hover {
  background-color: #f0f0f0;
}

#map-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#map-btn:hover {
  background-color: #0056b3;
}



.menu-container {
  width: 100vw;
  height: calc(90vh - 30px);
  position: fixed;
  top:calc(5vh + 30px);
  display: flex;
  justify-content: center;
}


.menu-Snacks {
  display: block;
}

.menu-Soups {
  display: none;
}

.menu-Ramen {
  display: none;
}

.menu-Vegetables {
  display: none;
}

.menu-Rice_bowl {
  display: none;
}

.menu-Noodles_wok_Box {
  display: none;
}

.menu-Rice_wok_Box {
  display: none;
}

.menu-Ricenoodles_wok_Box {
  display: none;
}

.menu-Mix_dry_noodles {
  display: none;
}

.menu-Drinks {
  display: none;
}

.menu-Desserts {
  display: none;
}

.menu-Salads {
  display: none;
}







@media screen and (max-width: 1024px) {

  .navbar {
    height: 3.5vh;
  }

  .bottom-navbar {
    height: 3vh;
  }

  #current-type {
    width: 110px;
  }
  
  #dropdown-menu {
    width: 110px;
  }
  .bottom-navbar-type {
    gap: 8px;
  }

  .menu-container {
    height: calc(93.5vh - 30px);
    top:calc(3.5vh + 30px);
  }



}