* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  padding: 15px;
  background-color: rgb(77, 5, 5);
  color: white;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 6vh;

}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  padding: 15px;
  background-color: rgb(77, 5, 5);
  color: white;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 6vh;
}

.logo {
  display: flex;
  gap: 15px;
}



.logo img {
  width: 50px;
  height: 50px;
}

.bottom-navbar-type {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bottom-navbar-type button {
  font-size: 3vmin;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
}


#current-type {
  width: 300px;
  text-align: center;
  font-size: 2vmin;
  cursor: pointer;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  position:relative; /* 为下拉菜单定位 */
}

#dropdown-menu {
  width: 300px;
  display: none; /* 初始隐藏 */
  position: absolute;
  bottom: 100%; /* 紧挨着显示区 */
  left: 0;
  background-color: white;
  color: black;
  list-style: none;
  margin: 0;
  border: 1px solid #ccc;
}

#dropdown-menu li {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid black;
}

#dropdown-menu li.no1 {
  border-top: 1px solid black;
}

#dropdown-menu li:hover {
  background-color: #f0f0f0;
}



@media screen and (max-width: 1024px) {
  #current-type {
    width: 100px;
  }
  
  #dropdown-menu {
    width: 100px;
  }
  .bottom-navbar-type {
    gap: 8px;
  }
}